<div class="p-4" style="border-radius:20px;">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Trail List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-primary text-white"><i class="fas fa-plus"></i> &nbsp; Create New Trail</a>
        </div>
    </div>
    <br />
    <br />
    <div style="background-color:#cde8e2" class="p-3 rounded">
        <table id="tblData" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr class="table-danger">
                    <th>National Park</th>
                    <th>Trail Name</th>
                    <th>Distance</th>
                    <th>Elevation</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<br />

@section Scripts{
    <script src="~/js/trail.js"></script>
}
