<br />
<div class="backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">National Park List</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-info text-white"><i class="fas fa-plus"></i> &nbsp; Create New National Park</a>
        </div>
    </div>
    <br />
    <br />
    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{ 
<script src="~/js/nationalPark.js"></script>
}
