@model ParkyWeb.Models.User
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method="post">
    <input asp-for="Username" type="text" placeholder="Username..." />
    <input asp-for="Password" type="text" placeholder="Password..." />
    <button type="submit" value="Submit">Login</button>
</form>

